<nav>
    <div class="logo">
    <%= link_to "Hypermilers", admin_path %>
    </div>
    <div class="nav-links">
    <%= link_to "Users" %>
    <%= link_to "Uploads" %>
    <%= link_to "Users" %>
    </div>
</nav>