<h1>Gas Prices here...</h1>

<p> Welcome, <%= current_user.mobile_number %></p>
<button id="open-modal-btn">Upload Gas Price</button>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>
     <h2>Upload Gas Price</h2>
    <%= render 'components/upload-form', upload: @upload %>
  </div>
</div><br><br>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>