<p style="color: green"><%= notice %></p>

<%= render @user, upload: @uploads %>
<p>heree</p>
<div>  
  <%= link_to "Back to Dashboard", users_path%>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
