<div id="<%= dom_id upload %>">
  <p>
    <strong>Petroleum company name:</strong>
    <%= upload.petroleum_company_name %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= upload.station_id %>
  </p>

  <p>
    <strong>Fuel type:</strong>
    <%= upload.fuel_type %>
  </p>

</div>
