<%= turbo_frame_tag "modal" do %>
<div class="modal" id="myModal">
  <h1>New upload</h1>
  <%= render "components/upload-form", upload: @upload %>
  <br>
  <div>
    <%= link_to "Cancel", "#", data: {
      controller: "modals",
      action: "modals#close",
    }, class: "close-btn" %>
  </div>
</div>
<% end %>
